.demo {
    font-family: 'Ralewoy';
    background: url(../img/demo/demo-bg.png);
    padding: 180px 0;
}

.demo__description {
    font-size: 16px;  
    line-height: 24px;
    font-weight: 400;  
}

.demo__content {
    display: flex;
    align-items: center;
}

.demo__left {
   max-width: 535px;
   margin-right: 30px; 
}

.demo__left {
    margin-right: 36px;
}

.demo__input {
    margin-bottom: 35px;
}