.header {
    position: absolute;
    width: 100%;
    top: 30px;
}

.header__list {
    display: flex;
    list-style: none;
    font-family: 'Releway';
 }

 .header__content {
    position: relative;
    z-index: 2;
    height: 100%;
    max-width: 582px;

}

li {
    margin-left: 40px;
}

.header__list {
    list-style: none;
    font-family: 'Releway';
}


