.header {
    position: absolute;
    width: 100%;
    top: 30px;
}

.header__list {
    display: flex;
    list-style: none;
    font-family: 'Releway';
 }

 .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin-left: 40px;
}
