@media only screen and (max-width: 992px) {
.header {
    width: 480px;
}

.header__list {
    
    list-style: none;
    font-family: 'Releway';
    width: 1500%;
}

.hero {
    padding-top: 200px;
    background: url(../img/hero/hero-bg.png);
    background-size: cover;
    /* background-position: center; */
    /* align-content: center; */
    /* align-self: center; */
    FONT-VARIANT: JIS04;
    width: 153%;
}

.hero__title {
    max-width: 560px;
    font-size: 55px;
    color: #d4c17f;
    text-align: center;
    margin: 0 auto;
    margin-left: 20px;
}
body {
    background: #242B33;
    color: #fff;
    /* margin: 0; */

}

.features__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.demo__content {
   display: block;
    align-items: center;
}

.demo__left {
    margin-right: 36px;
    text-align: center;
    /* text-align: center; */
    margin: 0 auto;
}

.form {
    /* display: flex; */
    flex-flow: wrap;
    /* justify-content: space-between; */
    align-items: center;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.form__warning {
    width: 255px;
    text-align: center;
    font-size: 13px;
    font-family: 'Ralewoy';
    display: block;
    margin: 0 auto;
}

.video__iframe {
    width: 359px;
    height: 250px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;

}

.map__iframe {
    width: 100%;
    height: 358px;
    /* margin-top: 100px; */
    margin: 0 auto;
    align-items: center;
}

.form {
        /* display: flex; */
        flex-flow: wrap;
        /* justify-content: space-between; */
        align-items: center;
        display: block;
        text-align: center;
        margin: 0 auto;
}
   
.form__warning {
    width: 255px;
    text-align: center;
    font-size: 13px;
    font-family: 'Ralewoy';
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.form__btn {
    width: 255px;
    height: 50px;
    background: #D4C17F;
    font-weight: 700;
    font-size: 16px;
    border: none;
    color: white;
    margin-bottom: 35px;
}

.form__input {
    background: ffffff;
    opacity: 0.2;
    width: 255px;
    height: 50px;
    text-align: center;
    /* border: none; */
    margin-bottom: 35px;

}

.rooms__title {
    color: #D4C17F;
    font-size: 36px;
    justify-content: center;
    /* margin: 0%; */
    text-align: 12%;
    text-align: center;
}

.section__title {
    font-family: "Playfair Display";
    color: #D4C17F;
    font-size: 36px;
    text-align: center;
}

.map__iframe {
    width: 90%;
    height: 358px;
    margin: 0 auto;
    display: table-cell;
}

.features {
    padding: 60px 0;
}

.rooms {
    margin-top: -105px;
}

.rooms__item--position {
    margin-top: -4px;
}

.hero__img {
    text-align: center;
    margin: 100px;
    margin-bottom: -247px;
}

.features__content {
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 818px;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    left: 7;
    margin: -5px 118px;
    margin-left: 100px;
}

.rooms__sector {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 27px 31px;
}

.demo {
    padding: initial;
}

.demo__content {
    align-items: center;
    margin: -72px 75px;
}

.footer__content {
     display: block ;
     
}

.demo__content {
    align-items: center;
    margin: -20px -120px;
    margin-left: 126px;
}

.video__iframe {
    left: 49px;
    width: 145%;
    height: 359px;
    margin-left: 16px;
}

.map__iframe {
    width: 145%;
    height: 359px;
    margin: 0 auto;
    display: table-cell;
    margin-left: 16px;
}

element.style {
    margin-left: 176px;
}

.hero__contact {
    margin: -4px 3px;
    font-size: 16px;
    font-family: 'Raleway';
}







}
